.card{
    width: 300px;
    height: 420px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: white;
    padding: 5px;
    text-align: left;
}
.price-container{
    display: flex;
    gap: 50px;
}
.btn-div{
    display: flex;
    justify-content: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.select-btn{
    background-color: aqua;
    width: 100%;
}
.imgg{
    width: 100%;
}
.container{
    display: flex;
    gap: 40px;
}
.cart{
    background-color: white;
    max-height: 500px;
    padding: 10px;
    border-radius: 12px;
}