.card{
    width: 300px;
    height: 420px;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: white;
    padding: 5px;
    /* padding-left: 5px;
    padding-top: 5px; */
}
.price-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.select-btn{
    background-color: aqua;
    width: 80%;
}
.imgg{
    width: 100%;
}